<h1>posts#index</h1>
<% if user_signed_in? %>    
    <%= button_to 'ログアウト', destroy_user_session_path, method: :delete %>
<% end %>

<% if user_signed_in? %>
    <%= link_to "マイページへ", user_path(current_user.id) %>
<% end %>
<%= link_to "新規投稿へ", new_post_path %>
<div class="posts-container">
    <% @posts.each do |t| %>
        <div class="post">
            <p><%= t.title %></p>
                <p>
                    <% if t.image.present? %>
                        <%= image_tag t.image_url, size: '250x200'%>
                    <% else %>
                        <%= image_tag "noimage.png", size: '250x200' %>
                    <% end %>
                </p>
            <p><%= t.contents %></p>
            <p><%= t.created_at %></p>
            <%= link_to "詳細へ", post_path(t.id) %>
                <% if user_signed_in? && current_user.id == t.user_id %>
                    <%= link_to "編集する", edit_post_path(t.id) %>
                    <%= button_to "削除する", post_path(t.id), method: :delete %>
                <% end %>
        </div>
    <% end %>
</div>
